<br>
    <div style="text-align:center;"><%=current_user.name%>さんの投稿履歴</div>
    <ul>
    <hr>
      <br>
      <% @images.each do |image| %>
        投稿者: <%=@user.name %>

        <%if image.user_id == current_user.id  %>
         <%= link_to '投稿を削除します', image, method: :delete, data: {confirm: "投稿を削除しますか？"} %>
         <%else%>
        <%end%><br><br>
          <%= link_to  image.avatar, "data-lightbox" => image.avatar do %>
          <%= image_tag image.avatar, height: '250', :style=>"width:300;" %>
        <% end %><br><br>
        <!--アイドルの属性タグ-->
      タグ： <%= if image.idoltype == 1 then
              "Cute"
            elsif image.idoltype == 2 then
              "Cool"
            elsif image.idoltype == 3 then
              "Passion"
             else
              "All" end %>,

            <!--MV設定タグ-->
            <%= if image.mv == 1 then
              "通常MV"
             elsif image.mv == 2 then
              "AR" end %>,
            <!--アイドル名タグ-->
            <%= image.idolname %>        <br><hr>
      <% end %>
