<hr><!--棒-->

<center><%=current_user.name%>さんの投稿履歴全件</center>

<hr><!--棒-->
<div><!--1postのまとまり-->


<% @images.each do |image| %>

<div class="col-md-12 d-none d-lg-block" >
  <%unless image.name.blank?%>
  <%= image.name %>
  <%else%>
  <!--nameの値が空の場合、「名無しのPさん」と表示させる-->
  名無しのPさん&emsp;
  <%end%>
<%= image.created_at.to_s(:datetime) %>

  <!--曜日フォーマット情報をdateに格納-->
  <% date = image.created_at.to_s(:datetime) %>
  (<%= weekday = %w[日 月 火 水 木 金 土]
  weekday[Date.parse(date).wday] %>)

  <!--いいねボタンのビュー-->
  <%= render 'likes/like', image: image %>
  <%if image.user_id == current_user.id  %>
   &nbsp;<%= link_to '投稿を削除', image, method: :delete,:style=>"color:grey;", data: {confirm: "投稿を削除しますか？"} %>
  <%else%>
  <%end%>
</div>


<div class="col-xs-12 col-md-12 d-md-none show_like" >
  <%unless image.name.blank?%>
  <%= image.name %>
  <%else%>
  <!--nameの値が空の場合、「名無しのPさん」と表示させる-->
  名無しのPさん&emsp;
  <%end%>
<%= image.created_at.to_s(:datetime) %>

  <!--曜日フォーマット情報をdateに格納-->
  <% date = image.created_at.to_s(:datetime) %>
  (<%= weekday = %w[日 月 火 水 木 金 土]
  weekday[Date.parse(date).wday] %>)

  <!--いいねボタンのビュー-->
  <div class="like_button">
  <%= render 'likes/like', image: image %>
  </div>
  <!--削除リンク-->
  <%if image.user_id == current_user.id  %>
  <%= link_to '投稿を削除', image, method: :delete,:style=>"color:grey;", data: {confirm: "投稿を削除しますか？"} %>
  <%else%>
  <%end%>
</div>

<!--コメント-->
<p>&nbsp;&nbsp;<%= image.comment %></p>


    <%= link_to  image.avatar, "data-lightbox" => image.avatar do %>
    <%= image_tag image.avatar, height: '98%', :style=>"width:98%;" %>
  <% end %><br><br>

    <!--特定のユーザーの投稿累計-->
    <%if image.user_id == current_user.id%>
    <% else %>
    <%end%><hr>
  <% end %>

</div>
