<br>
<div class="section s_01">
  <div class="accordion_one">
    <div class="accordion_header style="font-size: 25px" >投稿<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="box_one">
        <p class="txt_a_ac">


          <!--投稿フォーム-->
          <%= form_with model: @image, local: true do |form| %>
          <%= render 'layouts/error_messages', model: form.object %>

          <!--ハンドルネーム-->
          <div class="form-group">
            <div class="col-md-8">
              <%= form.text_field :name, class: "form-control", placeholder: "ハンドルネーム(任意)" %>
            </div>
          </div>
          <!--コメント-->
          <div class="form-group">
            <div class="col-md-8">
              <%= form.text_area :comment, placeholder: "コメントを記入(任意)", class: "form-control", :size=>"60*10"%>
            </div>
          </div>

          <!--アイドル名-->
          <div class="form-group">
            <div class="col-md-8">
              <%= form.text_field :idolname, id: :user_name, placeholder: "投稿するアイドル名(必須)" %>
            </div>
          </div>
          <!--タイプ別-->
          <%= form.label :idoltype,  "アイドルのタイプ(必須)", class: "col-md-8 control-label" %>
          <div class="col-md-10">
            <label>
                <%= form.radio_button :idoltype, "Cute" %> Cute
            </label>
            <label>
                <%= form.radio_button :idoltype, "Cool" %> Cool
            </label>
            <label>
                <%= form.radio_button :idoltype, "Passion" %> Passion
            </label>
            <label>
                <%= form.radio_button :idoltype, "All" %> All
            </label>
          </div>

          <!--MVの種類-->
          <%= form.label :mv,  "MVの種類(必須)", class: "col-md-8 control-label" %>
          <div class="col-md-8">
            <label>
              <%= form.radio_button :mv, "通常MV" %> 通常MV </label>
            <label>
              <%= form.radio_button :mv, "AR" %> AR </label><br>
          </div>

　           <!--画像の選択-->
          <div class="form-group">
            <%= form.label :avatar,  "※画像を選択(必須)", class: "col-md-10 control-label" %>
            <div class="col-md-8">
              <%= form.file_field :avatar, class: "form-control-file" %>
            </div>
          </div>
          <!--投稿ボタン-->
          <div class="center-block">
            <div class="form-group"><br>
              <center><%= form.submit name="投稿", class: "btn btn-default btn-primary"%></center>
            </div>
          </div><!--p class="txt_a_ac"-->
          <% end %>
        </div><!--div class="box_one"-->
      </div><!--div class="accordion_inner"-->
    </div><!--div class="accordion_one"-->
  </div>



<hr><!--棒-->
<% if @images_count == 0 %>
<%= "検索結果 0件でした。" %>
<%else%>
投稿数：<%= @images_count %>件
<%end%>
<% @images.each do |image| %>
<%image_id_eq = image.id%>

<hr><!--棒-->
<div><!--1postのまとまり-->

  <div class="col-md-12 d-none d-lg-block" >
    <!--nameの値が入っている場合image.name-->
    <%unless image.name.blank?%>
    <%= image.name %>
    <%else%>
    <!--nameの値が空の場合、「名無しのPさん」と表示させる-->
    名無しのPさん&emsp;
    <%end%>
<%= image.created_at.to_s(:datetime) %>
  <!--曜日フォーマット情報をdateに格納-->
  <% date = image.created_at.to_s(:datetime) %>
  (<%= weekday = %w[日 月 火 水 木 金 土]
  weekday[Date.parse(date).wday] %>)
  <!--いいねボタンのビュー呼び出し-->
  <%= render 'likes/like', image: image %>
</div>

<div class="col-xs-12 d-md-none like" >

<!--nameの値が空の場合、「名無しのPさん」と表示させる-->
&nbsp;名無しのPさん&emsp;<%= image.created_at.to_s(:datetime) %>

<!--曜日フォーマット情報をdateに格納-->
<% date = image.created_at.to_s(:datetime) %>
(<%= weekday = %w[日 月 火 水 木 金 土]
weekday[Date.parse(date).wday] %>)
<!--いいねボタンのビュー-->
<%= render 'likes/like', image: image %>
</div>

  <!--コメント-->
  <div class="frame_box"><%= image.comment %></div>
  <!--画像-->
  <%= link_to  image.avatar, "data-lightbox" => image.avatar do %>
  <%= image_tag image.avatar, height: '98%', :style=>"width:98%;" %>
  <% end %>
<br>
<br>



  <!--アイドルの属性タグ-->
   <button type="button" class="btn btn-light btn-sm">
    <%= link_to image.idoltype, {controller: "images", action: "index", images_idoltype: image.idoltype}, class: "color_gray no-underline"%>
   </button>
  <!--MV設定タグ-->
  <button type="button" class="btn btn-light btn-sm">
  <%= link_to image.mv, {controller: "images", action: "index", images_mv: image.mv}, class: "color_gray no-underline"%>
  </button>
  <!--アイドル名タグ-->
  <!--imagesのindexActionにパラメータを渡す 第二引数を明示的にハッシュでクラスと共存-->
  <button type="button" class="btn btn-light btn-sm">
  <%= link_to image.idolname, {controller: "images", action: "index", images_idolname: image.idolname}, class: "color_gray no-underline"%>
  </button>

  <div class="col-md-12 d-none d-lg-block" >
    <div class="comment_link">
      <i class="fa fa-commenting-o"></i>&nbsp;
      <%if image.comments_count == nil%>
        <%= link_to "コメントする (0)", "images/#{image.id}",:style=>"color:grey;"%>
      <%else%>
        <%= link_to "コメントする (#{image.comments_count})", "images/#{image.id}",:style=>"color:grey;"%>
      <%end%>
    </div>

  </div>

  <div class="col-md-12 d-lg-none" >
    <div class="comment_link_mobile">
      <i class="fa fa-commenting-o"></i>&nbsp;
      <%= link_to "コメントする (#{image.comments_count})", "images/#{image.id}",:style=>"color:grey;"%>

    </div>
  </div>


</div><!--1postのまとまり-->
<% end %><br>
<%= paginate @images %>
