<!DOCTYPE html>
<html>
  <head>
    <div id="headerbg">
      <!--<img src="../assets/title.jpg">-->
      <title>デレステSS保管庫</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <!--lightbox-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="assets/style.css"/>
    </div>

  <!--js読み込み-->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'acc.js' %>
  </head>

  <body>
    <div class="wrap">
      <div class="container">

        <div class="row">
          <header>
            <div class="col-xs-12 col-sm-12 col-md-12"><%= link_to root_path do%><%=image_tag "derephoto2.png"%><%end%></div>
          </header>
        </div><!--class="row"-->
              <%= render 'layouts/flash' %>

            <div class="row">
              <div class="content content_post col-md-6 offset-md-1">
                <%= yield %>
              </div>

            <!--サイドバー-->
            <div class="sidebar col-md-4 d-none d-lg-block ">

              <!--検索-->
              <div class="side-4 sidebar msr_box03 ">
                <h3 class="ttl"><div style="font-weight: bold; font-size: 23px;">検索</div></h3><br>
                <div class="inside">
                  <!--検索フォーム-->
                  <center><div class="form-group">
                    <%= form_tag images_path, :method => 'get' do %>
                        <%= text_field_tag :idolname, params[:idolname], :placeholder => "検索したいアイドル名" %>
                        <%= submit_tag "検索", :name => nil %>
                    <% end %>
                  </div></center><br>
                </div>
              </div>

              <!--ログインゾーン-->
              <div class="side-1 sidebar msr_box03 ">
                <h3 class="ttl"><div style="font-weight: bold; font-size: 23px;">ログイン</div></h3><br>
                <div class="inside">
                  <%if user_signed_in? %>
                    <%=current_user.name%>さん<br>
                    累計投稿数<%= @count %>件
                    <%= link_to "ログアウト",destroy_user_session_path, method: :delete,:style=>"color:#007BBB;" %>

                  <%else%>
                  <%= link_to 'Twitterでログイン！', user_twitter_omniauth_authorize_path,:style=>"color:#007BBB;"  %>
                  <%end%>
                  <br>
                </div>
              </div>

            <!--キーワード-->
            <div class="side-2 sidebar msr_box03 ">
              <h3 class="ttl"><div style="font-weight: bold; font-size: 23px;">投稿数が多いアイドル</div></h3>
                <!--対象カラムを配列で取得-->
                <div class="inside">
                  <%= link_to "画像を詳細検索", "/sorts",:style=>"color:#007BBB;" %><br>
                </div>
            </div>

            <!--諸々の紹介-->
            <div class="side-3 sidebar msr_box03 ">
              <h3 class="ttl"><div style="font-weight: bold; font-size: 23px;">サイト紹介</div></h3><br>
                <div class="inside">修正中
                  <%= link_to "このサイトについて", "/users",:style=>"color:#007BBB;" %><br>
                </div>
            </div>
          </div><!--class="sidebar col-md-4 d-none d-lg-block"-->

          <!--フッター-->
          <div id="footerWrap">
            <div id="footer">
              修正中
            </div><!--id="footer"-->
          </div><!--id="footerWrap"-->

        </div><!--class="row"-->
      </div><!--class="container"-->
    </div><!--class="wrap"-->
  </body>
</html>
